* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

.compteur__likes {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 376px;
  height: 89px;
  background-color: #DB8876;
  bottom: 10px;
  right: 3%;
  border-radius: 5px;
  font-size: 24px;
}

#compteur__heart {
  margin-right: 67px;
  color: #000000;
  font-size: 18px;
}

.numbers_likes {
  margin-left: 31px;
}

.price__jour {
  margin-left: 67px;
  margin-right: 34px;
}

.trier {
  position: absolute;
  top: 15px;
  left: -90px;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 170px;
  margin-left: 196px;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  height: 60px;
  line-height: 60px;
  background: #901C1C;
  cursor: pointer;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  background: #901C1C;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: white;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #DB8876;
}

.custom-option.selected {
  color: #ffffff;
  display: none;
}

.arrow {
  position: relative;
  left: 18px;
  height: 16px;
  width: 16px;
}

.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: white;
}

.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: white;
}

.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

#formulaire {
  display: none;
  justify-content: center;
  align-items: center;
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(196, 196, 196, 0.4);
}

#forms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 76px;
  z-index: 101;
  height: 900px;
  width: 669px;
  border-radius: 5px;
  background-color: #DB8876;
}

.title__form {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.title__form i {
  position: absolute;
  font-size: 42px;
  color: #ffff;
  right: 20px;
  top: 20px;
}

#name__form {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 35px;
}

.forms__groups {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

label {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #312E2E;
}

input {
  height: 68px;
  width: 599px;
  border-radius: 5px;
  font-size: 24px;
  color: #525252;
}

#msg {
  height: 170px;
  width: 599px;
  color: #525252;
  font-size: 24px;
}

.error {
  margin-left: 35px;
}

#btn__submit {
  height: 69px;
  width: 170px;
  border-radius: 5px;
  background-color: #901C1C;
  color: #FFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 35px;
  margin-bottom: 38px;
  cursor: pointer;
}

#message__confirmation {
  display: none;
  margin-left: 30px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeOut {
  opacity: 0;
}

.lightbox__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 85%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}
.lightbox__container img {
  width: 83%;
  height: 58%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.lightbox__container > video {
  width: 83%;
  height: 58%;
}

.fa-chevron-left, .fa-chevron-right, #close__lightbox {
  position: fixed;
  color: #901C1C;
  font-size: 48px;
  z-index: 11;
  top: 50%;
  margin-top: -14px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0, 3s;
}
.fa-chevron-left:hover, .fa-chevron-right:hover, #close__lightbox:hover {
  opacity: 1;
}

.fa-chevron-left {
  left: 10%;
}

.fa-chevron-right {
  right: 10%;
}

#close__lightbox {
  right: 10%;
  top: 10%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 46, 87px;
  color: #901C1C;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.header__nav ul li {
  height: 22px;
  padding: 0px 15px 5px 5px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 11px;
  color: #901C1C;
  font-size: 12px;
  font-weight: 500;
}

.logo {
  width: 200px;
  height: 50px;
  margin-left: 100px;
}

.contenu {
  position: absolute;
  display: none;
  width: 180px;
  height: 25px;
  background: #DB8876;
  font-size: 18px;
  font-weight: 700;
  left: 50%;
  top: 0;
  margin-top: 3px;
  color: black;
  line-height: 23px;
  border-radius: 5px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 2fr);
  margin-left: 72px;
}

.card__photographers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__photographers .card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  width: 200px;
  box-shadow: 0px 4px 12px 0px #C4C4C4;
  border-radius: 50%;
}

.card__name {
  color: #DB8876;
  font-size: 36px;
  line-height: 47px;
}

#card__location {
  color: #901C1C;
  font-size: 13px;
  line-height: 17px;
  margin-top: -25px;
}

#card__description {
  margin-top: -10px;
  font-size: 10px;
}

.card__price {
  margin-top: -10px;
  color: #757575;
  font-size: 9px;
}

.card__tags {
  height: 22px;
  padding: 0px 15px 5px 5px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 11px;
  color: #901C1C;
  font-size: 12px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
}

.logo {
  width: 200px;
  height: 50px;
  margin: 25px 0 100px 100px;
}

#presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  margin-left: 100px;
  margin-right: 100px;
  height: 313px;
}

.texte__presentation {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

#photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

#name {
  color: #DB8876;
  font-size: 36px;
  line-height: 47px;
}

#city, #country {
  color: #901C1C;
  font-size: 13px;
  line-height: 17px;
}

#tagsline {
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}

#contact__me {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #901C1C;
  display: flex;
  align-items: center;
  padding-left: 10px;
  line-height: 26, 4px;
  color: #FFFF;
  font-weight: 700;
  font-size: 20px;
}

#mediaGallery {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  margin-left: 100px;
}

.photo {
  width: 350px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 95px;
}

.video {
  display: block;
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.fa-heart {
  color: #901C1C;
  margin-left: 6px;
  font-size: 20px;
  cursor: pointer;
}

.photo__figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 350px;
}

.description__photo, .photo__price, .likes {
  font-size: 24px;
  color: #901C1C;
  margin-left: 15px;
  white-space: nowrap;
}

.description__photo {
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
