* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif
}

a {
    text-decoration: none;
    
}

 *:focus{
     outline: 2px solid #d3573c;
 }



 ::selection{
    background-color: #d3573c;
     color: #000000;
 }