


header {
    display:flex ;
    justify-content: space-between;
   //align-items: center;
    

h1{

    font-weight: 400;
    font-size: 36px;
    //line-height: 46,87px;
    color: $primarycolor;
    
}

}

.header__nav nav{
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    list-style: none;
    margin-top: 40px;
    

    a{
        height: 22px;
        padding: 0px 15px 5px 5px;
        border: 0.5px solid #C4C4C4;
        margin:5px;
        border-radius: 11px;
        color: $primarycolor;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    &:hover {
        background-color:$secondarycolor;
    }    
    &:focus {
        background-color:$secondarycolor;
    }
    }

  
   
}

.logo__accueil{
        width: 200px;
        height:50px;
        margin-top: 30px;
       margin-left: 50px;

    }


.contenu{
    position: absolute;
    display: none;
    width: 180px;
    height: 25px;
    background:$secondarycolor;
    font-size:18px;
    font-weight: 700;
    left:50%;
    transform:translateX(-50%);
    top:0;
    margin-top:3px;
    color: black;
    line-height: 23px;
    border-radius: 5px;
    text-align: center;
   a{
color: black;
   }
}


.main {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-template-rows: repeat(3,2fr);
    margin-top: 50px;
 
}

.card__photographers{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:focus{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }

.card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}
.card__image{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;;
height: 200px;
width: 200px;
box-shadow: 0px 4px 12px 0px #C4C4C4;
border-radius: 50%;

}

.card__name{
    color:$secondarycolor;
    font-size:36px;
    line-height: 47px;
    
}

#card__location{
    color:$primarycolor;
    font-size:13px;
    line-height:17px;
    margin-top: -25px;

}

#card__description{
    margin-top: -10px;
    font-size: 10px;
}

.card__price{
    margin-top: -10px;
  color: #757575; 
  font-size: 9px;

}

.card__tags{
    height: 22px;
    padding: 0px 15px 5px 5px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    margin:5px;
    border-radius: 11px;
    color: $primarycolor;
    font-size: 12px;
    font-weight: 500;

}



@media only screen and (max-width:1024px){
    .main {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(2,2fr);
       
    }

}






@media only screen and (max-width:900px){

header{
    flex-direction: column;
    
        h1{
            font-size: 14px;
            position: absolute;
             right: 20px;
             top:20px;
             margin-top: 30px;
        }
    
}
.logo__accueil{
width: 150px;
height:37px;
margin-left: 20px;
margin-top: 30px;
}

.header__nav ul {
    display: flex;
     margin-top: 40px;
   


}
.main {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    
}
}