* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#ffff;
    cursor: pointer;
}
.logo {
    width: 200px;
    height: 50px;
    margin: 25px 0 100px 100px;
}

#presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FAFAFA;
    margin-left: 100px;
    margin-right: 100px;
    height: 313px;
  
}

.texte__presentation {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
#photo {
width: 200px;
height: 200px;
border-radius: 50%;
margin-right: 50px;

}


#name{
    color:$secondarycolor;
    font-size:36px;
    line-height: 47px;
}
#city, #country{
    color:$primarycolor;
    font-size:13px;
    line-height:17px;
}

#tagsline{
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}


#contact__me {
    width: 170px;
    height: 69px;
    border-radius:5px;
    background-color: $primarycolor;
    display: flex;
    align-items: center;
    padding-left: 10px;
    line-height: 26,04px;
    color:#FFFF;
   font-weight: 700;
   font-size: 20px;
}  


// gallery photo 

#mediaGallery {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    margin-left: 100px;
}

.photo{
    width:350px;
    height:300px;
    margin-bottom:10px ;
    border-radius: 5px;
    margin-right: 95px;
}

.video {
    display: block;
    object-fit: cover;
    width: 350px;
    height:300px;
    border-radius: 5px;
}
.fa-heart {
    color: $primarycolor;
    margin-left: 6px;
    font-size: 20px;
    cursor: pointer;

}



.photo__figcaption{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
width: 350px;
}

.description__photo,.photo__price, .likes{
    font-size:24px ;
    color:$primarycolor;
    margin-left: 15px;
    white-space: nowrap;
}


.description__photo{
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    
}








